body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

#title {
  text-align: center;
  padding: 50px;
  background-color: black;
  background-image: url("https://icdn1.digitaltrends.com/image/nintendo-switch-review-photos-pdx-580.jpg");
  color: white;
  width: 100%;
  margin-top: 0px;
  top: 0px;
}
